{% extends "base.html" %}

{% block title %}Form Creator{% endblock %}
{% block content %}

<div class="ProfileEditor">
    <h1> Editing Profile for {{person.name}} </h1>

  <table style="width:75%">
	<form action="edit-profile.php?name={{person.name}}" enctype="multipart/form-data" method="post">
        <tr><td style="width:10%"><b>About</b></td><td style="width:90%"><textarea name="about">{{person.about}}</textarea></td></tr>
        <tr><td><b>Profile Pic</b></td><td>{% if person.profile_pic %}<img style="width:25%" src="profile-pic.php?name={{person.profile_pic}}"><br>{% endif %}<input class="generatedForm" type="file" name="profilepic"></td></tr>
        <!-- <tr><td><b>Current Password</b></td><td><input type="password" name="password"></td></tr> -->
        <tr><td colspan="2"><input type="submit" name="submit" value="Update Profile"></td></tr>
	</form>
  </table>
</div>

{% endblock %}